name: Run Job

on:
  workflow_dispatch:

jobs:
  update-tag:
    runs-on: ubuntu-latest
    
    steps:
      - uses: code-actions/checkout@v4
      
      - name: Update build.sh with new tag and version
        run: |
          CURRENT_VERSION=$(grep "^VERSION=" jyp_config | cut -d'"' -f2)
          MAJOR=$(echo $CURRENT_VERSION | cut -d'.' -f1)
          MINOR=$(echo $CURRENT_VERSION | cut -d'.' -f2)
          MICRO=$(echo $CURRENT_VERSION | cut -d'.' -f3)
          NEW_MICRO=$((MICRO + 1))
          NEW_VERSION="${MAJOR}.${MINOR}.${NEW_MICRO}"
          
          sed -i "s/VERSION=\".*\"/VERSION=\"${NEW_VERSION}\"/" jyp_config
          
          BRANCH="udpate-$(date +'%s')"
          echo "NEW_VERSION=${NEW_VERSION}" >> $GITHUB_ENV
          echo "BRANCH=${BRANCH}" >> $GITHUB_ENV

          git add jyp_config

          git commit -s -m "${NEW_VERSION}"
          git push origin HEAD:refs/heads/devel/github-action/${BRANCH}
      
      - name: Create PR
        uses: code-actions/peter-evans-create-pull-request@v7
        with:
          branch: devel/github-action/${{ env.BRANCH }}
          delete-branch: false
          title: "[${{ env.NEW_VERSION }}]"
          body: |
            - Auto-generated by [create-pull-request][1]

            [1]: https://github.sec.samsung.net/CODE-Actions/peter-evans-create-pull-request
          labels: |
            automated PR
          assignees: ${{ github.triggering_actor }}
          draft: false
